DMS.*
.cproject
.project
make*
Make*
*.so*
build/
/Debug
*.jpg
CMakeFiles*
CMakeCache*
cmake_*
language.settings*
bin

#qt-related ignores
*.config
*.creator
*.creator.user
*.files
*.includes
*.pro*
*Debug*
*autosave*
*.pyc
*workspace*xml

best_cand
*.dat
*.idea
